<label>Search Make </label>
<input
        placeholder="Find your car!"
        ng-model="controller.search" type="text"
        ng-model-options="{debounce:1000}"
        ng-change="controller.fetch()"/>

<label>
    &nbsp; Filter by Make
    <select ng-model="controller.makeId" ng-change="controller.getMatchingMakes()">
        <option ng-repeat="m in controller.makes" value="{{m.id}}">{{m.name}}</option>
    </select>
</label>
<hr />


<table cellspacing="2" cellpadding="2" ng-class="{highlight:doHilight}">
    <tr ng-repeat="m in controller.matchingMakes"
        ng-class="{highlight:doHilight }"
        ng-mouseenter="highlight=true"
        ng-mouseleave="highlight=false">
        <td>
            <p>{{m.ShortDescription}} &nbsp;&nbsp;</p>
        </td>
        <td>
            <img ng-src="{{car.imageUrl}}" ng-click="controller.showModal(car.id)" />
        </td>
    </tr>
</table>
