<label> Search Make </label>
<input
        placeholder=" Find your car!"
        ng-model="controller.search" type="text"
        ng-model-options="{debounce:1000}"
        ng-change="controller.fetch()"/>

  <p><b>Click on the images for more information or go to the bottom of the page to filter by makes</b></p>
        <table cellspacing="2" cellpadding="2" ng-class="{highlight:doHilight}">
            <tr ng-repeat="car in controller.cars"
                ng-class="{highlight:doHilight }"
                ng-mouseenter="highlight=true"
                ng-mouseleave="highlight=false">
                <td>
                     <b><p>{{car.ShortDescription}} </p></b>&nbsp;&nbsp;
                </td>
                <td>
                    <img ng-src="{{car.ImageUrl}}" ng-click="controller.showModal(car)" />
                </td>
            </tr>
        </table>


<br>

<label>
    &nbsp; <b> Filter by Make</b>
    <select ng-model="controller.makeId" ng-change="controller.getMatchingMakes()">
        <option ng-repeat="car in controller.makes" value="{{car.id}}">{{car.name}}</option>
    </select>
</label>
<hr />


<table cellspacing="2" cellpadding="2" ng-class="{highlight:doHilight}">
    <tr ng-repeat="car in controller.matchingMakes"
        ng-class="{highlight:doHilight }"
        ng-mouseenter="highlight=true"
        ng-mouseleave="highlight=false">
        <td>
            <p>{{car.ShortDescription}} &nbsp;&nbsp;</p>
        </td>
        <td>
            <img ng-src="{{car.ImageUrl}}" ng-click="controller.showModal(car)" />
        </td>
    </tr>
</table>
