<div class="modal-header">
    <h1 class="modal-title">Car Details</h1>
</div>
<div class="modal-body" ng-cloak>
  <table class="table">
      <tr>

          <img ng-src={{modal.car.ImageUrl}}>
      </tr>
</table>

    <table class="table">
        <tr>
            <th>Make</th>
            <td>{{modal.car.ShortDescription}}</td>
        </tr>
        <tr>
            <th>Full Description</th>
            <td>{{modal.car.FullDescription}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>${{modal.car.Price}}</td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn-primary" ng-click="modal.ok()">OK</button>
</div>
